{
  app: {
    signingConfigs: [
      {
        name: 'default',
        type: 'HarmonyOS',
        material: {
          certpath: 'C:\\Users\\<YOUR_USER>\\.ohos\\config\\default_app_<YOUR_ID>.cer',
          keyAlias: 'debugKey',
          keyPassword: '<YOUR_KEY_PASSWORD>',
          profile: 'C:\\Users\\<YOUR_USER>\\.ohos\\config\\default_app_<YOUR_ID>.p7b',
          signAlg: 'SHA256withECDSA',
          storeFile: 'C:\\Users\\<YOUR_USER>\\.ohos\\config\\default_app_<YOUR_ID>.p12',
          storePassword: '<YOUR_STORE_PASSWORD>',
        },
      },
    ],
    products: [
      {
        name: 'default',
        signingConfig: 'default',
        compatibleSdkVersion: '6.1.1(24)',
        targetSdkVersion: '6.1.1(24)',
        runtimeOS: 'HarmonyOS',
      },
    ],
    buildModeSet: [
      {
        name: 'debug',
      },
      {
        name: 'release',
      },
    ],
  },
  modules: [
    {
      name: 'entry',
      srcPath: './entry',
      targets: [
        {
          name: 'default',
          applyToProducts: [
            'default',
          ],
        },
      ],
    },
  ],
}
